/*VARIABLE CSS */
:root{
--primary-color:#0d6efd;
--secondary-color:#6c757d;
--danger-color:#dc3545;
--light-color:white;
--dark-color:#212529;
--font-main:'Poppins', sans-serif;
--font-secondary:'Roboto', sans-serif;
--border-radius: 12px;
--transition: 0.3s ease;
}


/*reset*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*body*/
body{
    padding-top: 90px;
    font-family:var(--font-main);
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
}
#acceuil{
    background-image: url('../images/acceuil.jpg');
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}
#histoire{
    background-image: url(../images/histoire2.jpg);
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}
/*titres*/
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: bold;
    margin-bottom: 15px;
}
/*liens*/
a{
    text-decoration: none;
    transition: var(--transition);
}
a:hover{
     opacity: 0.8;
}
/*boutons*/
.btn{
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.btn:hover{
    transform: translateY(-2px);
}
/*for tarifs*/
.card img{
    height: 180px;
    object-fit: cover;
}

/*cartes*/
.card{
    border:none;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: var(--transition);
}
.card:hover{
    transform: translateY(-5px);
}
/*IMAGES*/
img{
    max-width: 100%;
    display: block;
}
#acceuil {
  position: relative;
  background-image: url('../images/acceuil.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: var(--primary-color);
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}
/*section*/
section{
    padding: 60px 0;
}
/*footer*/
footer{
    background-color: var(--dark-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}
/*responsive*/
@media(max-width:768px){
    h1{
        font-size :28px;
    }
    h2{
        font-size: 24px;
    }
    section{
        padding: 40px 0;
    }
}
/*hero*/
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.hero-text h1 {
    font-weight: bold;
}
.hero-text p{
    margin: 20px  0;
    font-size: 18px;
}
.hero-buttons{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.hero-image img{
    width: 500px;
    border-radius: 20px;
}
/*bento grid*/
.bento-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     grid-auto-rows: 180px;
    gap: 20px;
}
.bento-item{
    background:var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px rgba(0, 0,0,0.1);
}
.bento-item.big{
    grid-column: span 2;
    grid-row: span 2;
}
/*.big{
    grid-column: span 2;
}*/
/*categories*/
.categories-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.category-card{
    background:var(--primary-color);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease;
}
.category-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    
}


/*TABLETTE*/
@media (max-width:768px)
{
    .hero h1 {
        font-size:2rem;
    }
    .hero-buttons {
        display:flex ;
        flex-direction:column;
        gap: 10px;
    }
}
/*MOBILE*/
@media (max-width :375px) {
    .hero h1 {
        font-size:1.5rem;
    
    }
    .hero h2 {
        font-size:1rem;
    }
    .hero-buttons .btn{
        width: 100%;
    }
}
@media (max-width:768px){
    .card {
        margin:auto;
    }
}
@media (max-width:576px){ 
    .navbar-brand {
        font-size:1rem;
    }
}
main{
    margin-top: 120px;
}
/* Dark Mode */
body.dark-mode{
    background-color:#121212;
    color:white;
}

/* Navbar au scroll */
.navbar.scrolled{
    background-color:#212529 !important;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    padding-top:5px;
    padding-bottom:5px;
    transition:all 0.3s ease;
}

/* Bouton retour en haut */
#backToTop{
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    z-index:999;
}
.fade-in{
    opacity:0;
    transform:translateY(40px);
    transition:all 0.8s ease;
}

.fade-in.show{
    opacity:1;
    transform:translateY(0);
}
